<section id="about" class="about">
	<div class="mbox">
		<div class="title">
			<h2>О компании</h2>
		</div>
		<p>Компания “Виктор” основана в 2003 году, является продолжением и правоприемником ОАО “Снежинка” - 
		одного из крупнейших производителей клеевой продукции и препаратов для химической чистки одежды.</p>
		<p>Сегодня, ООО “Виктор” является одним из крупнейших поставщиков клеевой продукции в России. Обладая современным оборудованием и штатом профессионалов, мы производим и поставляем предприятиям до 150 тонн клея в месяц в более 60 городов и областных центров России.</p>
		<p>Благодаря наличию современной научно-технической лаборатории и высококвалифицированных специалистов, занимающихся исследованием, разработкой и созданием клеевых составов более 20 лет, мы можем предложить клеевую продукцию с индивидуально подобранным составом, идеально соответствующим требованиям Заказчика.</p>
	</div>
</section>