<section class="block-4" id="block-4">
    <div class="title">
        <h2>Услуги</h2>
    </div>
    <div class="mbox">
       <div class="items_decktop">
            <div class="item_couple">
                <div class="top row">
                    <div class="item">
                        <img src="images/4block-1.png" alt="">
                    </div>
                    <div class="item">
                        <img src="images/4block-2.png" alt="">
                    </div>
                </div>
                <div class="text">
                    <div class="head-text row">
                        <div class="item">
                            <span>Производство клея под Вашей торговой маркой</span>
                        </div>
                        <div class="item">
                            <span>Производство клея для конечного потребителя</span>
                        </div>
                    </div>
                    <div class="main-text">
                        <div class="row">
                            <div class="item">
                                <p>Производство клеевой продукции под Вашей торговой маркой является ключевым направлением деятельности компании “Виктор”. Мы понимаем, что Ваш бренд это Ваша репутация, и продукция, выпускаемая под Вашей торговой маркой должна соответствовать высокому уровню качества.</p>
                            </div>
                            <div class="item">
                                <p>Мы производим широкий ассортимент клеёв для таких отраслей промышленности как: Строительная, Нефтегазовая, Обувная, Мебельная, Военная, Машиностроение, Приборостроение, Автомобилестроение и т.д.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">
                                <p>Мы имеем более чем десятилетний опыт производства клеевой продукции для крупных российских и зарубежных компаний. На нашем предприятии Вы можете разместить производство клеевой продукции из широкого ассортимента готовых составов или заказать разработку особой рецептуры в нашей лаборатории.</p>
                            </div>
                            <div class="item">
                                <p>Мы понимаем, что Вам требуется оптимальное по цене и эффективности решение для Вашего бизнеса. Научно-экспериментальный отдел нашей лаборатории состоит из экспертов-химиков и технологов, каждый из них имеет многолетний опыт работы с клиентами по созданию точных решений для конкретных задач, будь то скорость применения, повышение эффективности или снижение отходов.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="item">
                                <p>В партнерстве с лучшими дизайнерами, производителями тары и фирменных этикеток, мы можем предложить Вам широкий спектр различных вариантов упаковки. Наш отдел маркетинга, а также технические и логистические специалисты будут работать с Вами над созданием упаковки, которая выглядит профессионально и соответствует нормам безопасности и правилам транспортировки.</p>
                            </div>
                            <div class="item">
                                <p>Вы можете быть уверены в том, что выбирая компанию “Виктор”, Вы получаете продукт, удовлетворяющий все Ваши требования.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items_mobile">
            <div class="item">
                <div class="top">
                    <img src="images/4block-1.png" alt="">
                </div>
                <div class="text">
                    <div class="head-text">
                        <span>Производство клея под Вашей торговой маркой</span>
                    </div>
                    <div class="main-text">
                        <p>Производство клеевой продукции под Вашей торговой маркой является ключевым направлением деятельности компании “Виктор”. Мы понимаем, что Ваш бренд это Ваша репутация, и продукция, выпускаемая под Вашей торговой маркой должна соответствовать высокому уровню качества.</p>

                        <p>Мы имеем более чем десятилетний опыт производства клеевой продукции для крупных российских и зарубежных компаний. На нашем предприятии Вы можете разместить производство клеевой продукции из широкого ассортимента готовых составов или заказать разработку особой рецептуры в нашей лаборатории.</p>

                        <p>В партнерстве с лучшими дизайнерами, производителями тары и фирменных этикеток, мы можем предложить Вам широкий спектр различных вариантов упаковки. Наш отдел маркетинга, а также технические и логистические специалисты будут работать с Вами над созданием упаковки, которая выглядит профессионально и соответствует нормам безопасности и правилам транспортировки.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <img src="images/4block-2.png" alt="">
                </div>
                <div class="text">
                    <div class="head-text">
                        <span>Производство клея для конечного потребителя</span>
                    </div>
                    <div class="main-text">
                        <p>Мы производим широкий ассортимент клеёв для таких отраслей промышленности как: Строительная, Нефтегазовая, Обувная, Мебельная, Военная, Машиностроение, Приборостроение, Автомобилестроение и т.д.</p>

                        <p>Мы понимаем, что Вам требуется оптимальное по цене и эффективности решение для Вашего бизнеса. Научно-экспериментальный отдел нашей лаборатории состоит из экспертов-химиков и технологов, каждый из них имеет многолетний опыт работы с клиентами по созданию точных решений для конкретных задач, будь то скорость применения, повышение эффективности или снижение отходов.</p>

                        <p>Вы можете быть уверены в том, что выбирая компанию “Виктор”, Вы получаете продукт, удовлетворяющий все Ваши требования.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>