<section id="about" class="about">
	<div class="mbox">
		<div class="title">
			<h2>About Us</h2>
		</div>
		<p>Our company was founded in 2003 as a successor of JSC Snejinka - one of the largest manufacturers of adhesive products and chemicals for dry cleaning industry.</p>
		<p>Today, Victor is one of the largest suppliers of adhesive products in Russia. With hi-end equipment and professional staff, we manufacture and supply businesses up to 150 tons of adhesive products per month in more than 60 cities and regional centers of Russia.</p>
		<p>Due to up-to-date scientific and technological laboratory and highly qualified professionals engaged in research, development and creation of adhesives for more than 20 years, we can provide products with custom adhesive compound perfectly matching the requirements of virtually any business.</p>
	</div>
</section>