<section class="block-7" id="block-7">
	<div class="wrapper">
		<div class="heading">
			<h2>Контакты</h2>
			<p>Оставьте заявку и мы свяжемся с Вами</p>
		</div>
		<div class="form-wrap">
			<form class="offer-form" action="ajax-programer.php">
				<input type="text" name="contact_name" placeholder="Имя" required> 
				<input type="tel" class="tel-mask" name="contact_tel" placeholder="Телефон" required>
				<input type="email" name="contact_email" placeholder="Email" required>
				<input type="text" name="enquiry" placeholder="Ваш вопрос" required></input>
				<button>Отправить заявку</button>
			</form>
		</div>
	</div>	
</section>