<section class="block-6" id="block-6">
	<div class="wraper">
		<div class="heading">
			<h2>Лаборатория</h2>
		</div>
		<div class="content">
			<p>Лаборатория компании “Виктор” оснащена самым современным оборудованием, которое позволяет разрабатывать инновационные клеевые рецептуры, проводить тестирование, как химических так и физических свойств клеевых составов, осуществлять контроль качества.<br>	
			<br>
			Особое внимание мы уделяем качеству выпускаемой продукции, поэтому мы создали независимый от технологов лаборатории отдел, который отвечает за контроль качества входящего сырья и произведенной продукции. Мы гарантируем высокое качество и соответствие российским, а также международным стандартам всей выпускаемой продукции.</p>
		</div>
		<div class="slider-wrap">
			<div class="slide">
				<a href="images/photo_2016-10-21_16-20-57.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-21_16-20-57.jpg">
				</a>
			</div>
			<div class="slide">
				<a href="images/photo_2016-10-21_16-20-46.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-21_16-20-46.jpg">
				</a>
			</div>
			<div class="slide">
				<a href="images/photo_2016-10-24_14-10-28.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-24_14-10-28.jpg">
				</a>
			</div>
			<div class="slide">
				<a href="images/photo_2016-10-21_16-20-05.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-21_16-20-05.jpg">
				</a>
			</div>
			<div class="slide">
				<a href="images/photo_2016-10-24_14-10-43.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-24_14-10-43.jpg">
				</a>
			</div>
			
		</div>

	</div>
</section>