<section class="block-9" id="block-9">
    <div class="title">
        <h2>Customers</h2>
    </div>
    <div class="content">
        <div class="row">
        <h3>Oil and gas industry</h3>
            <div class="items">
                <div class="item">
                    <div class="img">
                        <img src="images/i-1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/i-2.png" alt="">
                    </div>
                </div>
            </div>
<!--            <div class="bottom">
                <span>ООО «Новые технологии изоляции» </span>
                <p>Разработана технология получения трехслойной конструкции покрытия (с эпокси-полимерным праймером “НРЛ-ЭПП”) и переизоляции протяженных участков магистральных газопроводов (МГ) машинным способом в трассовых и базовых (заводски) условиях посредством термоусаживающихся лент «НРЛ» низкотемпературного нанесения. Выпуск праймера осуществляется ООО “Виктор”</p>
            </div>-->
        </div>
        <div class="row">
            <h3>Automobile production</h3>
            <div class="items">
                <div class="item">
                    <div class="img">
                        <img src="images/i-3.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/i-4.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/i-5.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/i-6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Furniture manufacturing</h3>
            <div class="items">
                <div class="item">
                    <div class="img">
                        <img src="images/i-7.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/i-8.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/i-9.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/i-10.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Footwear industry</h3>
            <div class="items">
                <div class="item">
                    <div class="img">
                        <img src="images/i-11.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="images/i-12.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>