<section class="block-6" id="block-6">
	<div class="wraper">
		<div class="heading">
			<h2>Laboratory</h2>
		</div>
		<div class="content">
            <p>Our laboratory is equipped with the most comprehensive range of equipment, which allows us to develop innovative adhesive compounds, test it’s, both, chemical and physical properties, and well manage quality standards. <br>
			<br>
			Particular attention is paid to the quality of products, so we created the independent QA department, responsible for quality control of raw materials and manufactured products. We guarantee high quality and compliance with Russian and international standards of all our products.</p>
		</div>
		<div class="slider-wrap">
			<div class="slide">
				<a href="images/photo_2016-10-21_16-20-57.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-21_16-20-57.jpg">
				</a>
			</div>
			<div class="slide">
				<a href="images/photo_2016-10-21_16-20-46.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-21_16-20-46.jpg">
				</a>
			</div>
			<div class="slide">
				<a href="images/photo_2016-10-24_14-10-28.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-24_14-10-28.jpg">
				</a>
			</div>
			<div class="slide">
				<a href="images/photo_2016-10-21_16-20-05.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-21_16-20-05.jpg">
				</a>
			</div>
			<div class="slide">
				<a href="images/photo_2016-10-24_14-10-43.jpg" class="fancybox-form1">
					<img src="images/photo_2016-10-24_14-10-43.jpg">
				</a>
			</div>
			
		</div>

	</div>
</section>