<section class="block-4" id="block-4">
    <div class="title">
        <h2>Services Overview</h2>
    </div>
    <div class="mbox">
       <div class="items_mobile items_mobile_eng">
            <div class="item">
                <div class="top">
                    <img src="images/4block-1.png" alt="">
                </div>
                <div class="text">
                    <div class="head-text">
                        <span>Private-Label</span>
                    </div>
                    <div class="main-text">
                        <p>At Victor, we understand that your brand is your reputation, and that you need to communicate your brand professionally, and that products manufactured under your label must comply with the high level of quality. Victor’s private-label service is a key part of our business.</p> 

                        <p>Victor has more than 20 years of experience in adhesive product manufacturing, and we are trusted to supply private-label products to a host of reputable brand names in the industrial, construction, automotive and end-user industries.</p>

                        <p>You can place an order for the production of adhesive products choosing from a wide range of existing compounds or order the development of a special composition in our laboratory.
                        </p>

                        <p>With strong design, packaging and print connections, we have access to a wide variety of different packaging options. Our marketing, compliance, technical and logistic teams will work with you to source and create packaging that looks professional and is compliant with health & safety and transport regulations.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="top">
                    <img src="images/4block-2.png" alt="">
                </div>
                <div class="text">
                    <div class="head-text">
                        <span>Bespoke Solutions</span>
                    </div>
                    <div class="main-text">
                        <p>We produce a wide range of adhesives for the following industries: </p>

                        <p>Construction, Oil & Gas, Footwear, Furniture, Military, Engineering, Instrumentation, Automobile, etc.</p>

                        <p>We understand that you need a cost-effective and efficient solution for your business. Our expert Technical Department is made up of chemical experts and technologists, each of them has many years of experience working with clients to establish the right solution to specific problem, whether it is the speed of use, efficiency or reduction of waste.</p>
                        
                        <p>You can be sure that  by choosing our company, you will get a solution, that meets all your requirements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item"></div>
</section>