<section class="block-8" id="block-8">  
    <div class="mbox">
        <div class="map">
            <div id="mapInit">
                
            </div>
            <div class="plashka">
                <h3>
                    <span>141205, Россия,</span>
                    Московская область, Пушкинский район, пос. Лесной, ул. Центральная, д. 5
                    <a href="tel:+8 800 550 5858" class="desktop-tel">+8 800 550 5858</a>
                    <a href="mailto:info@victorv.ru" class="footer-email">info@victorv.ru</a>
                </h3>
            </div>
        </div>
    </div>
</section>