<section id="products" class="products">
  <div class="mbox">
    <div class="title">
      <h2>Продукция</h2>
    </div>
    <div class="product-catalog">
      
      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/synthetic-glue.jpg" alt="Synthetic-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3>Клеи <span>ХЛОРОПРЕНОВЫЕ</span></h3>
            <p>На основе хлоропренового каучука, имеют широкий спектр применения благодаря своим свойствам. Клеи обладают хорошей адгезией к резинам на основе полярных каучуков, резинотканевым материалам, коже, дереву, пластмассам, тканям, бумаге, керамике.</p> 

            <p>Обладают высокими конфекционными свойствами, превосходящими аналогичные свойства резиновых клеев на основе НК. Эти клея применяются в обувной, галантерейной, автомобильной, военной, авиационной и строительной промышленности.</p>
          </div>
        </div>
      </div>
      
      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/rubber-glue.jpg" alt="Rubber-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3>Клеи <span>РЕЗИНОВЫЕ</span></h3>
            <p>На основе натурального каучука, широко применяются в обувной и текстильно-кожевенной промышленностях. Эти клеи обладают уникальным комплексом свойств: конфекционная липкость, широкий интервал времени сушки клеевой плёнки (от 3 мин до 24 ч), возможность производить переклейку изделий без дополнительного нанесения клея.</p>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/urethane-glue.jpg" alt="Rubber-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3>Клеи <span>УРЕТАНОВЫЕ</span></h3>
            <p>Однокомпонентный клей, в основе которого полимер с высокой степенью адгезии, низкой температурой реактивации, хорошим тепловым сопротивлением. Высокотемпературный режим этих клеёв (до 140 градусов) позволяет использовать продукцию в трудных климатических и эксплуатационных условиях. Применяется в судостроении, обувной промышленности, при изготовлении спорт инвентаря и др.</p> 
            <p>Один из видов уретанового клея, выпускаемый нашим предприятием, предназначен для склеивания мелкой крошки поролона во влажной среде под давлением. В основном используется при производстве спортивных мат и вторичного производства поролона.</p>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/thermoplastic-glue.jpg" alt="Thermopla-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3>Клеи на основе <span>ТЕРМОЭЛАСТОПЛАСТА</span></h3>
            <p>Представляют собой низковязкие растворы с высокой концентрацией сухих веществ ( до 40%). Обладают хорошей стойкостью к воде. Данное направление клеевых композиций находит своё применение в мебельной и автомобильной промышленностях. Изготовление мягкой мебели, матрасов, стульев, обшивка и шумоизоляция автомобильных салонов – все эти направления прекрасно используют данный вид клея.</p>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/latex-glue.jpg" alt="Latex-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3><span>Полихлоропреновый латексный</span> клей на <span>водной</span> основе</h3>
            <p>Новое направление в производственной линейке. Этот клей предназначен для использования в производстве мягкой мебели. Отсутствие в его составе органических растворителей и, соответственно, запаха, делает его гипоаллергенным и резко улучшает условия труда на производстве, особенно в условиях недостаточной вентиляции. Кроме того, клей абсолютно не является пожароопасным. В отличие от клеев на растворителях он легко смывается водой с оборудования и инструмента. Уникальная рецептура клея обеспечивает его ускоренное схватывание.</p>
            <p>Данная разработка не уступает по показателям зарубежным аналогам, выигрывая при этом конкуренцию на рынке по цене.</p>
          </div>
        </div>
      </div>
    

    </div>
  </div>
</section>