<section id="products" class="products">
  <div class="mbox">
    <div class="title">
      <h2>Product Overview</h2>
    </div>
    <div class="product-catalog">
      
      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/synthetic-glue.jpg" alt="Synthetic-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3><span>Chloroprene</span> group of adhesives</h3>
            <p>Based on chloroprene caoutchouc, with a wide range of applications, due to it’s properties. Chloroprene compounds have good adhesion to rubber, based on polar caoutchouc, rubber-fabric materials, leather, wood, plastics, textiles, paper, ceramics. It possesses high confection properties superior to similar properties of rubber-based adhesives NK. These adhesives are used in the footwear, haberdashery, automotive, military, aerospace and construction industries.</p>
          </div>
        </div>
      </div>
      
      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/rubber-glue.jpg" alt="Rubber-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3><span>Natural rubber</span> group of adhesives</h3>
            <p>Based on natural caoutchouc, widely used in the footwear and textile and leather industry. These adhesives have a unique combination of properties: confection stickiness and wide range of drying time of the adhesive surface (from 3 minutes to 24 hours), the ability to redo gluing procedure without additional adhesive application.</p>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/urethane-glue.jpg" alt="Rubber-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3><span>Urethane</span> group of adhesives</h3>
            <p>Single component adhesive, based on a polymer with high adhesion, low reactivation temperature, good thermal resistance. High-temperature mode of these compounds (up to 140 degrees) allows it’s use in difficult climate and operating conditions. It is used in the marine industry, the footwear industry and in manufacturing of sports equipment, etc. One of the urethane compounds, manufactured by our company is designed for bonding foam fine crumbs in a moist environment under pressure. Mainly used in manufacturing sport mats and secondary production of foam.</p> 
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/thermoplastic-glue.jpg" alt="Thermopla-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3>Adhesives based on  <span>thermoplastic elastomers</span></h3>
            <p>Based on thermoplastic elastomers, are low viscosity solutions at high concentration of solids (40%) and have a good resistance to water. Thermoplastic adhesive compounds are used in furniture and automotive industries, production of upholstered furniture, mattresses, chairs, automotive upholstery and sound insulation.</p>
          </div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-pic-wrap">
          <div class="product-pic">
            <img src="images/latex-glue.jpg" alt="Latex-glue">
          </div>
        </div>
        <div class="product-info-wrap">
          <div class="product-info">
            <h3><span>Polychloroprene</span> latex adhesive</h3>
            <p>A water-based solution. This is a new direction in our product line. This adhesive is designed for use in upholstered furniture production. In it’s absence of an organic solvent and, accordingly, odor, makes this compound hypoallergenic and dramatically improves the working conditions in the workplace. Thus, it can be used in case of insufficient ventilation. Also, the adhesive is completely fire proof. Unlike solvent-based adhesives it is easily washed off with water from the equipment and tools. Unique adhesive formula ensures its rapid gluing. This compound complies with EU standards and is very competitive in terms of the price.</p>
          </div>
        </div>
      </div>
    

    </div>
  </div>
</section>